#fast-simon-admin-email{
    z-index: 10000;position:absolute;
}
.fast-simon-submit-email
{
    margin-left:15px !important;
    font-size:14px !important;
    padding:5px !important;
    width:150px !important;
    min-height: 40px !important;
}
.email-cancel-button{
    font-size:14px !important;
    padding:5px !important;
    width:150px!important;
    min-height: 40px !important;
}
@media screen and (max-width: 600px)
{
    .fast-simon-popup-buttons {
        flex-direction: column;
        align-items: center;
    }
    .fast-simon-submit-email {
        margin-left: 0px !important;
    }
}

.fast-simon-popup-buttons{
    margin-top: 15px;
    display: flex;
    justify-content:flex-end;
}
.fast-simon-agreement{
    margin-top:10px;
    font-size:14px;
}
.fast-simon-email-input{
    width:220px;
    max-width: 100%;
}
.fast-simon-describtion{
    margin-top:10px;
    font-size:18px;
}
.fast-simon-title{
    font-size:20px;
}
.fast-simon-popup-content{
    width:40vw;
    background: white;
    opacity:1;
    position:fixed;
    border: solid 1px black;
    padding:0px 15px 15px;
    border-radius:5px;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    font-size:14px
}
.fast-simon-popup-back{
    background: black;
    opacity:0.7;
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0px;
    left:0px;
}